/node_modules
/public/hot
/public/uploads/
/public/storage
/public/css/
/public/js/
/public/vendor
/public/sitemap.xml
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
Homestead.json
docker-compose.yml
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
/public/mix-manifest.json